[features]
seeds = false
skip-lint = false

[programs.devnet]
claw = "QiAZtS7YfibVDTTarBM8bXfCtPFaMJ24BwSijZHg9W8"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
